$font-stack: "Helvetica"
$white: #FFF
$black: #000

$text-grey-light: #FFF
$text-grey-dark: #FFF

$avilla-purple-dark: #960093
$avilla-purple: #be27b9
$avilla-purple-light: #e54ede

$bg-color-white: #FFF
$bg-color-dark: #252627

$bosch-red: #D51317
$bosch-blue-dark: #0D428C
$bosch-blue-light: #00A0C6
$bosch-green: #009A63
$bosch-green-secondary: #42934D
$bosch-green-light: #8BBB66

$container-border-radius: 10px
$card-border-radius: 5px